<h1>Contact Us Page</h1>
<%= form_for @contact, :url => {:action => :create} do |f| %>
	<% if @contact.errors.any? %>
		<h2>List of Errors:</h2>
		<ul><% @contact.errors.full_messages.each do |contact| %>
			<li><%= contact %></li></ul>
		<% end %>
	<% end %>		
					
 <%= f.text_field :name, :placeholder => "Full Name" %><br />
 <%= f.text_field :email, :placeholder => "Email" %><br />
 <%= f.text_area :description, :placeholder => "Yours message:" %>
<br /><%= f.submit 'Send' %>
<% end %>